h1 {
    color: rgb(67,96,125);
    font-family: 'Russo One', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}

li { 
    font-family: 'Fredoka', sans-serif;
    font-weight: 100px;
    font-size: 15px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul {
    margin: 0 auto;
    padding: 0;
}

small {
    font-size: 8px;
    font-family: 'Fredoka', sans-serif;
}

.weather-app {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #BD7682;
    border-radius: 15px;
}


/* 
font-family: 'Fredoka', sans-serif;
font-family: 'Padauk', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Staatliches', cursive; */