body {
    margin: 0;
  }

h1 {
    color: rgb(116, 97, 128);
    font-family: 'Russo One', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}

li { 
    color: #fff;
    font-family: 'Fredoka', sans-serif;
    font-weight: 100px;
    font-size: 15px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

li:first-letter {
    text-transform:capitalize;
}

ul {
    margin: 0 auto;
    padding: 0;
}

small {
    font-size: 12px;
    font-family: 'Fredoka', sans-serif;
    padding-left: 20px;
}

small a {
    color: rgb(130,112,141);
}

  #background-img {
    position: fixed;
    right: 40px;
    top: 0px;
    max-width: 100%;
    /* min-height: 100%; */
    z-index: -5;
    /* height: 1000px; */
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }

#date, #current-condition {
    color: rgb(74, 37, 79);
    font-family: 'Russo One', sans-serif;
}

#search-form {
    margin-bottom: 30px;
}

.btn-outline-info {
    color: rgb(38, 37, 37);
}

.weather-forecast {
    font-family: 'Fredoka', sans-serif;
    margin-top: 35px;
    text-align: center;
}

.overview {
    margin-bottom: 40px;
}

.weather-icon .active {
    color: rgb(130,112,141);
    outline-color: #fff;
}

.weather-icon .active:hover {
    color: rgb(201, 146, 235);
    text-decoration: none;
}

.weather-app-cntr {
    max-width: 600px;
    margin: 30px auto;
    padding: 0;
}

.weather-app {
    border: transparent;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(12px);
    padding: 35px;
    border-radius: 15px;
}

.weather-icon img {
    display: inline-block;
    height: 70px;
    position: relative;
    top: 6px;
    right: 5px;
    vertical-align: top;
    width: 70px;
}

.weather-icon strong {
    color: #fff;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    position: relative;
    top: 12px;
}

.weather-icon .units {
    color: rgb(130,112,141);
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: -6px;
}

